/* google font work-sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #ff900e;
  --background-color: rgba(255, 144, 14, 0.1);
  --dark1: #131313;
  --dark2: #424242;
  --dark3: #727272;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* global font styles */
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.primary-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
}
main > section {
  margin: 8rem 10rem;
}

/* header related styles */
.header {
  background-color: var(--background-color);
  padding: 0 10rem 2rem 10rem;
}
/* navbar styles*/
.navbar {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: var(--dark2);
}

/* header banner styles */
.banner-content {
  text-align: center;
  padding: 3rem 15rem 3rem 15rem;
}
.banner-content h2 {
  font-weight: 700;
  font-size: 3.5rem;
}
.banner-content p {
  color: var(--dark3);
  margin: 1.2rem 0;
}
.banner-img img {
  width: 100%;
}

/* team section styles */
.team-section {
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
/* team gallery */
.team-gallery img {
  width: 100%;
}
.team-gallery {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
/* team description */
.team-des {
  width: 50%;
}
.team-heading {
  font-size: 3rem;
}
.txt-1 {
  color: var(--dark3);
  font-weight: 500;
}
.txt-2 {
  color: var(--dark1);
  font-weight: 700;
}
.txt-3 {
  color: var(--primary-color);
  font-weight: 700;
}
.team-info {
  font-size: 1rem;
  color: var(--dark3);
  line-height: 1.5rem;
  margin: 1.5rem 0;
}

/* for mobile devices */
@media (max-width: 576px) {
  /* for shared styles */
  main > section {
    margin: 2rem 1rem;
  }

  /* header and navbar */
  .header {
    padding: 1rem 2rem;
  }
  .navbar,
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    padding: 0;
  }
  /* header related styles */
  .header {
    padding: 2rem;
  }
  /* header banner styles */
  .banner-content {
    padding: 2rem 0;
    text-align: left;
  }
  .banner-content h2 {
    font-size: 1.2rem;
  }

  /* team section */
  .team-section {
    padding-inline: 1rem;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .team-gallery {
    grid-template-columns: 1fr;
  }
  .team-gallery,
  .team-des {
    width: 100%;
  }
}
/* medium screen */
@media (min-width: 576px) and (max-width: 996px) {
  /* for shared styles */
  main > section {
    margin: 4rem 6rem;
  }

  /* header related styles */
  .header {
    padding: 0 5rem 2rem 5rem;
  }
  /* header banner styles */
  .banner-content {
    padding: 3rem;
  }
  .banner-content h2 {
    font-size: 2.5rem;
  }

  /* team section */
  .team-section {
    padding-inline: 1rem;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .team-gallery,
  .team-des {
    width: 100%;
  }
}
